{%  if auth %}
    <p>Hello {{ auth.getFullName }}!</p>
{% endif %}

<ul>
    <li><a href="{{ urlFor('home') }}">Home</a></li>
    {% if auth %}
        Zalogowany
    {% else %}
    <li><a href="{{ urlFor('login') }}">Logowanie</a></li>
    <li><a href="{{ urlFor('register') }}">Rejestracja</a></li>
    {% endif %}
</ul>